<h2 class="page-header">欢迎登录后台管理应用</h2><br>

<h3 class="">管理员权限和职能</h3>
<table class="table table-striped">
	    <thead>
	      <tr>
	        <th>ID</th>
	        <th>角色</th>
	        <th>职能</th>
	        <th>权限</th>
	      </tr>
	    </thead>
	    <tbody>
			<tr>
				<td>1</td>
				<td>顶级管理员</td>
				<td>添加管理员,为管理员分配工作任务,注销管理员</td>
				<td>主站管理, 用户查看, 视频管理, 商城管理, 画板管理, 游戏管理, <strong>管理员管理</strong></td>
			</tr>
			<tr>
				<td>2</td>
				<td>高级管理员</td>
				<td>对站进行宏观把控,拥有除管理员的其他全部权限</td>
				<td>主站管理, 用户查看, 视频管理, 商城管理, 画板管理, 游戏管理</td>
			</tr>
			<tr>
				<td>3</td>
				<td>视频管理员</td>
				<td>对视频进行添加/编辑/删除,对弹幕/评论/轮播图进行管理</td>
				<td>用户查看, <strong>视频管理</strong></td>
			</tr>
			<tr>
				<td>4</td>
				<td>商城管理员</td>
				<td>进行商城相关管理</td>				
				<td>用户查看, <strong>商城管理</strong></td>
			</tr>
			<tr>
				<td>5</td>
				<td>画板管理员</td>
				<td>进行画板相关管理</td>
				<td>用户查看, <strong>画板管理</strong></td>
			</tr>
			<tr>
				<td>6</td>
				<td>游戏管理员</td>
				<td>对推荐游戏进行编辑,添加和修改推荐游戏列表</td>
				<td>用户查看, <strong>游戏管理</strong></td>
			</tr>
	    </tbody>
	  </table>